<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
  <meta charset="UTF-8">
  <title>Instagram images using AngularJS - CodePen</title>
  <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.css'>
  <script src="js/prefixfree.min.js"></script>
</head>
<body>

  <div ng-controller="Example">
    <div class="nav_bar">
        <span>Instagram Viewer</span>
    </div>
    <div class="wrapper">
      <div class="row">
        <div class="more_content"> <button type="button" class="btn btn-success" ng-click="getMore()">Click to see more ({{pics.length}})</button>    </div>
      </div>
        <div class="row">
    <div ng-repeat="p in pics | orderBy:orderBy" class="picture_wrapper">
      <a href="{{p.link}}" target="_blank"><img ng-src="{{p.images.low_resolution.url}}" class="img-responsive thumbnail" title="{{p.caption.text}}"></a>
<span class="glyphicon glyphicon-heart"> {{p.likes.count}}</span>      
        </div>
    </div>
</div>
  <div ng-view></div>

  <script src="lib/angular/angular.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script type="js/prefixfree.min.js"></script>
</body>
</html>
